{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
        body {
            background-color: #666666;
        }
		.container {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
	<div class="container">
		<canvas id="myCanvas" width="750px" height="750px" style="background: #FFFFFF"></canvas>
	</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        var url = window.location.href;
        if (url.indexOf("large") > -1) {
            isLarge = true;
        } else {
            isLarge = false;
        }
        window.addEventListener('devicemotion', (event) => {
            var acc = event.acceleration;
            if (Math.abs(acc.x) > 30 || Math.abs(acc.y) > 30 || Math.abs(acc.z) > 30) {
                paper.project.clear();
            }
        });
        window.addEventListener('deviceorientation', (event) => {
            if (event.gamma > 30) {
                clientColor = "#" + Math.floor(Math.random()*16777215).toString(16);
            }
        });
    }
    
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    var socket = new WebSocket('wss://p3-websockets-ndoll-leeeugene901469.codeanyapp.com/ws/draw');
    
    socket.onmessage = function(event) {
        var msg = JSON.parse(event.data);
        
        if (msg.id != uuidClient && isLarge) {
            switch(msg.type) {
                case "point":
                    paths[msg.id].add(new paper.Point(msg.x, msg.y));
                    break;
                case "mouseDown":
                    var path = new paper.Path();
                    path.strokeColor = msg.color;
					path.strokeWidth = 4;
                    paths[msg.id] = path;
                    break;
            }
        }
    };
    
    socket.onclose = function(e) {
        console.error('Socket closed unexpectedly.');
    };

    var pencilPath;
    var pencilMessage;
    var uuidClient = uuidv4();
    var clientColor = "#" + Math.floor(Math.random()*16777215).toString(16);
    var isLarge;
    
    var paths = {};

    tool.onMouseDown = function(event) {
        pencilPath = new paper.Path();
        pencilPath.strokeColor = clientColor;
		pencilPath.strokeWidth = 4;
        
        var msg = {
            type: "mouseDown",
            id: uuidClient,
            color: clientColor
        };
        socket.send(JSON.stringify(msg));
    };
    
    tool.onMouseDrag = function(event) {
        pencilPath.add(event.point);
        sendPointAsString(event.point);
    };
    
    tool.onMouseUp = function(event) {
    };
    
    function sendPointAsString(point) {
        var msg = {
            type: "point",
            id: uuidClient,
            x: point["x"],
            y: point["y"]
        };
        socket.send(JSON.stringify(msg));
    }
    
    // v4 UUID generator code from https://gist.github.com/jed/982883
    function uuidv4() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16));
    }
</script>
</html>
